.addeditable {
    width: 100%;
}

.addeditable_display {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #0099ff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.addeditable_display:hover {
    background-color: #ffffff;
    color: #000000;
}

.addeditable_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addeditable_edit input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
}

.addeditable_edit_footer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addeditable_edit_footer button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    border: none;
    transition: background-color 0.1s ease, transform 0.1s ease;
    padding: 10px 20px;
}

.addeditable_edit_footer button:hover {
    background-color: #046daa;
}

.addeditable_edit_footer button:active {
    transform: translateY(2px);
}

.addeditable_edit_footer .closeIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
}
