.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Add the OTP class with pointer event handlers */
.OTP {
  cursor: pointer;
}

/* Add specific pointer event styles if needed */
.OTP:active {
  background-color: #f0f0f0;
  /* Change background on active click */
}

.OTP:hover {
  color: #bd0000;
  /* Change text color on hover */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_nav {
  padding: 30px;
  box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #fff;
}

.app_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
}

.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}

.app_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

/* Custom CSS for Dropdown */
.dropdown-container {
  position: relative;
}

.dropdown-button {
  color: #4a5568;
  /* text-blueGray-700 */
  font-size: 0.75rem;
  /* text-xs */
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  /* py-3 */
  font-weight: bold;
  /* font-bold */
  display: block;
  focus: outline-none;
  cursor: pointer;
}

.dropdown-icon {
  margin-right: 0.5rem;
  /* mr-2 */
  font-size: 0.875rem;
  /* text-sm */
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  /* mt-2 */
  padding: 0.5rem 0;
  /* py-2 */
  width: 12rem;
  /* w-48 */
  background-color: #fff;
  /* bg-white */
  border-radius: 0.375rem;
  /* rounded-md */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /* shadow-xl */
  z-index: 20;
  /* z-20 */
}

.dropdown-menu-item {
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
  color: #4a5568;
  /* text-blueGray-700 */
  display: block;
  text-decoration: none;
}

.dropdown-menu-item:hover {
  color: #718096;
  /* hover:text-blueGray-500 */
}

.dropdown-menu-item-icon {
  margin-right: 0.5rem;
  /* mr-2 */
  font-size: 0.875rem;
  /* text-sm */
}

/* Custom CSS for Navigation */
.navigation {
  /* Add any custom styling for the navigation component here */
}

.navigation-title {
  min-width: 100%;
  /* md:min-w-full */
  color: #718096;
  /* text-blueGray-500 */
  font-size: 0.75rem;
  /* text-xs */
  text-transform: uppercase;
  /* uppercase */
  font-weight: bold;
  /* font-bold */
  padding-top: 0.25rem;
  /* pt-1 */
  padding-bottom: 1rem;
  /* pb-4 */
  display: block;
  text-decoration: none;
  /* no-underline */
}

.navigation-list {
  min-width: 100%;
  /* md:min-w-full */
  display: flex;
  flex-direction: column;
  /* flex-col */
  list-style: none;
  /* list-none */
  margin-bottom: 1rem;
  /* md:mb-4 */
}

.navigation-item {
  display: flex;
  align-items: center;
  /* items-center */
}